sds_2.9.11/out/com.sds.plugin.homenet.devices_2.9.11.ppk
sds_2.9.11/out_iOS/sideloading/plugin/ppks/com.sds.plugin.homenet.devices_2.9.11.ppk
sds_2.9.11/out_iOS/sideloading/plugin/ppks/com.sds.plugin.homenet.devices_2.9.11.ppk.orig
sds_2.9.11/out_iOS/sideloading/plugin/com.sds.plugin.homenet.devices.plugin
sds_2.9.11/out/com.sds.plugin.homenet.devices_2.9.12.ppk
.gitignore
sds_2.9.11/out/com.sds.plugin.homenet.devices.plugin
